@import "../../../scss/variables.scss";

.login{
    @include font-site();
    @include post-style();
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 100px;
    padding: 50px;
    padding-top: 200px;
    height:50%;
}