@import "../../../scss/variables.scss";

.login{
    @include font-site();
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 100px;
    padding: 50px;
    padding-top: 200px;
    height:50%;
    box-shadow: 5px 5px 30px 7px rgba(255, 255, 255, 0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    border-radius: 5px;
}