@import "../../../scss/variables.scss";

.login{
    @include font-site();
    //min-height: 60%;
    //max-height: 60%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 4%;
    padding: 50px;
    //margin-top: 7%;
    box-shadow: 5px 5px 30px 7px rgba(255, 255, 255, 0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    border-radius: 5px;
}

//.login span:nth-child(1){
//    font-size: 20px;

//}
